
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @foreach (var item in @Model)
    {
        //<h1>@item</h1>
        <h3>@item.Title</h3>
        @if (item.ImageSrc != null)
        {
            <img width="160" height="110" src="@item.ImageSrc" />
        }
        <p>@item.Text</p>
        <a href="/Home/OpenNews/@Model.IndexOf(item)">Читать далее...</a>
        <p>@item.Date</p>

    }
</body>
</html>
