
<center><h3>@Model.Title</h3></center>
@if (@Model.ImageSrc != null)
{
    <center><img src="@Model.ImageSrc" /></center>
}
<p>@Model.Text</p>
<a href="@Model.NewsURL">Читать в источнике...</a>
<p>@Model.Date.DateTime</p>
